            <% if @recipe.king == false %>
              <div class="left">
                <% if !current_user.nil? %>
                  <div id="love_form">
                    <% if @already_loved.count < 1 %>
                      <%= render 'loves' %>
                    <% else %>
                      <%= render 'loved' %>
                    <% end %>
                  </div>
                <% else %>
                  <%= link_to_modal new_user_session_path do %>
                    <div class="button_selection_vertical left rounded love_button">
                      <div class="left thumbs_up_logged_out"></div>
                        <div class="left" style="padding-top: 14px;padding-left: 2px;"><span style="font-size:30px;font-weight:900;">Love</span></br>
                        This Recipe</div>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <%= link_to new_recipe_path(:challenge => @recipe.dish_id) do %>
                <div class="button_selection_vertical left rounded" style="min-width: 17%;">
                    <div style="padding-top:3px;float:left;"><%= image_tag 'fist_black.png' %></div> 
                    <div class="challenge_button_text_vertical">Challenge</br><span style="font-weight:300;">this Recipe</span></div>
                    
                </div>
              <% end %>
            <% end %>