            <% if @recipe.king == false %>
              <div class="left">
                <% if !current_user.nil? %>
                  <div id="love_form">
                    <% if @already_loved.count < 1 %>
                      <%= render 'loves' %>
                    <% else %>
                      <%= render 'loved' %>
                    <% end %>
                  </div>
                <% else %>
                  <%= link_to_modal new_user_session_path do %>
                    <div class="button_selection left rounded" style="width:110px;">Love This Recipe</div>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <%= link_to new_recipe_path(:challenge => @recipe.dish_id) do %>
                <div class="button_selection left rounded" style="min-width: 17%;">
                    <div style="padding-top:3px;float:left;"><%= image_tag 'fist_black.png' %></div> 
                    <div style="padding-top: 11px;float: left;text-align: left;font-weight: 900;text-transform: uppercase;font-size: 19px;letter-spacing: -2px;line-height: 16px;">Challenge</br><span style="font-weight:300;">this Recipe</span></div>
                    
                </div>
              <% end %>
            <% end %>