<div id="main_recipe" style="background-image: url(<%= @image %>);">
    <div class="closed_view">
      <div class="closed_tab tab">View Recipe</div>
      <div class="closed">
        <h1 class="recipe_title"><%= @recipe.name %></h1>
      </div>
    </div>
  <div class="open_view">
    <div class="tab">Close Recipe</div>
      <div class="open">
        <h1 class="recipe_title"><%= @recipe.name %></h1>
        <div id="tabber-container" class="tabber-container">
          <div class="">
            <div id="tabs1-html">
              <div class="intro" id="tabs-intro">
                <%= render "intro"%>
              </div>
            </div>
            <div id="tabs1-js" >
              <div id="tabs-chef">
                <%= render 'chef' %>
              </div>
            </div>
            <div id="tabs1-css">
              <div id="tabs-comments">
                <%= render "comments_tab"%>
              </div>
            </div>
          </div>
          <ul class='recipe_footer'>
            <%= render "recipe_footer" %>
          </ul>

        </div>
      </div>
  </div>
</div>
<div id="home_middle">
  <h2>
    <span style="text-transform:uppercase;">Meet the <span class="bolded_headline">Challengers</span></span> </br>
  </h2>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %> |
  <%= link_to 'CHALLENGE', new_recipe_path(:challenge => @recipe.dish_id) %>
</div>
<div id="home_bottom">
  <% @challengers.each do |challenger| %>
    <%= link_to(challenger) do %>
    <div class="feature_view rounded global_shadow fade">
      <%= image_tag challenger.recipe_images.first.photo.url if challenger.recipe_images.count > 0 %>
      <p class="feature_text"><%= challenger.name %></p>
    </div>
    <% end %>
  <% end %>
</div>
<div class="clear_me"></div>
<script type="text/javascript">$("#tabber-container").easytabs();</script>
