<div id="main_recipe" style="background-image: url(<%= @image %>);">
    <div class="closed_view hidden">
      <div class="closed_tab tab">View Recipe</div>
      <div class="closed">
        <h1 class="recipe_title"><%= @recipe.name %></h1>
      </div>
    </div>
  <div class="open_view">
    <div class="tab">Close Recipe</div>
      <div class="open">
        <h1 class="recipe_title"><%= @recipe.name %></h1>
        <div class="intro">
          <div class="facts right">
            <div class="fact left">
              <span class="fact_bold"><%= @recipe.serving %></span></br>
              serving
            </div>
            <div class="fact left">
              <span class="fact_bold"><%= @recipe.prep.strftime("%H:%M") %></span></br>
              prep time
            </div>
            <div class="fact left">
              <span class="fact_bold"><%= @recipe.cook.strftime("%H:%M") %></span></br>
              cook time
            </div>
            <div class="fact left">
              <span class="fact_bold"><%= @recipe.difficulty %></span></br>
              difficulty
            </div>
          </div>
          <div class="clear_me"></div>
          <div class="info">
              <h3>Introduction</h3>
              <p><%= @recipe.introduction %></p>
              <h3>Ingredients:</h3>
              <p><%= @recipe.ingredients %></p>
              <h3>Directions:</h3>
              <p><%= @recipe.directions %><p>
            <p>
              <b>Dish:</b>
              <%= Dish.find(@recipe.dish_id).name %>
            </p>
          </div>
        </div>
        <div class="recipe_footer">Stuff goes here</div>
        
        <div class="hidden">
          <p>
            <b>The Cook:</b>
            <%= User.find(@recipe.user_id).name %>
          </p>
          <div id="love_form">
            <% if @already_loved.count < 1 %>
              <%= render 'loves' %>
            <% else %>
              <%= render 'loved' %>
            <% end %>
          </div>

          <div id="comments_wrapper">
            <div id="comments">
              <%= render 'comments' %>
            </div>

            <div id="comments_form">
              <%= render 'comments_form' %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div id="home_middle">
  <h2>
    <span style="text-transform:uppercase;">Meet the <span class="bolded_headline">Challengers</span></span> </br>
  </h2>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %> |
  <%= link_to 'CHALLENGE', new_recipe_path(:challenge => @recipe.dish_id) %>
</div>
