<h1>All Recipes</h2>

<h3>Kings</h3>
<table>
  <tr>
    <th>User</th>
    <th>Name</th>   
  </tr>

<% @best_recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.user_id %></td>
    <td><%= recipe.name %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h3>Challenger Recipes</h3>
<table>
  <tr>
    <th>User</th>
    <th>Name</th>
  </tr>

<% @recipes_challengers.each do |recipe| %>
  <tr>
    <td><%= recipe.user_id %></td>
    <td><%= recipe.name %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>