<div class="flexslider">
  <ul class="slides">
    <li>
      <%=  link_to '/recipes/4' do %>
        <%= image_tag 'enchili.jpg', class: "image_stretch" %>
	      <p class="flex-caption">THE F^%#ING BEST ENCHILADAS</p>
      <% end %>
    </li>
    <li>
    	<%=  link_to '/recipes/5' do %>
      		<%= image_tag 'lambchop.jpg', class: "image_stretch" %>
      		<p class="flex-caption">King of All Lamb Chop</p>
      	<% end %>
    </li>
    <li>
      <%=  link_to '/recipes/3' do %>
      	<%= image_tag 'seafoodstew.jpg', class: "image_stretch" %>
      	<p class="flex-caption">Seafood Stew Like You Have Never Tasted</p>
      <% end %>
    </li>
  </ul>
</div>
<div id="home_middle">
	<h2>
		<span style="text-transform:uppercase;">There Can Only Be One <span class="bolded_headline">BEST</span>.</span> </br>
		<span style="font-size:32px;">Find Only The Single <span class="bolded_headline">GREATEST RECIPE</span>  For Every Dish.</span>		
	</h2>
</div>

<div id="home_bottom">
	<% @featured.each do |feature| %>
		<%= link_to(feature) do %>
		<div class="feature_view rounded global_shadow fade">
			<%= image_tag feature.recipe_images.first.photo.url(:medium) if feature.recipe_images.count > 0 %>
			<p class="feature_text">The Very Best <%= Dish.find(feature.dish_id).name %></p>
		</div>
		<% end %>
	<% end %>
</div>
<div class="clear_me"></div>
<p style="text-align:right; margin-right:10%;"><%= link_to 'View All Recipes >>', recipes_path %></p>
