<%= link_to image_tag('logo.jpg'), root_path, class: 'brand logo' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to current_user do %> <%= image_tag('nav_person_white.png') %> Profile <% end %>
    </li>
  <% end %>
  <li>
      <%= link_to recipes_path do %> <%= image_tag('nav_cat_icon.png') %>Recipes <% end %>
  </li>
  <li>
      <%= link_to_modal about_path do %> <%= image_tag('nav_thumb_white.png') %>We Know Best <% end %>
  </li>
  <li>
      <%= link_to_modal search_path do %> <%= image_tag('nav_search_white.png') %>Search <% end %>
  </li>
  <% if user_signed_in? %>
    <% if current_user.admin == true %>
      <li>
        <%= link_to('Dishes', dishes_path)  %>
      </li>
      <li>
        <%= link_to('Recipes', '/admin-recipes')  %>
      </li>
      <li>
        <%= link_to('Users', '/users')  %>
      </li>
    <% end %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
      <%= link_to new_user_session_path do %> <%= image_tag('nav_person_white.png') %> Login <% end %>
    </li>
    <li>
      <%= link_to new_user_registration_path do %> <%= image_tag('nav_lock_white.png') %>Sign Up <% end %>
    </li>
  <% end %>
</ul>

