<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Recipe Royalty" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Recipe Royalty" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100,900italic,700italic,500italic,400italic,100italic,300italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="iframe_body">
    <main role="main">
              <%= yield %>
    </main>
    <footer>
    </footer>
    <%= render "layouts/googleanalytics" %>
  </body>
</html>